* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

button {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.submit-button, .restart-button {
  display: none;
}

.error {
  display: none;
  color: red;
}

.correct, .incorrect {
  display: none;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}